<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.paperplane">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="纸飞机"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".homepage.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:label="纸飞机"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity android:name=".detail.DetailActivity"
            android:label="阅读"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".settings.SettingsPreferenceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:label="设置"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".about.AboutPreferenceActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:label="关于"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".license.OpenSourceLicenseActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:label="开源许可"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".innerbrowser.InnerBrowserActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:label="纸飞机"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".search.SearchActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:label="搜索收藏"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>

        <service android:name=".service.CacheService" />

    </application>

</manifest>